@import 'reset';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

body {
  font: var(--font-m);
  font-family: var(--font-family-main);
}

.app {
  min-height: 100vh;
  color: var(--font-color);
  background: var(--bg-color);
}

.wrapper {
  display: flex;
}

.content {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
