@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--font-color);
  background: var(--bg-color);
}

.wrapper {
  display: flex;
}

.content {
  width: 100%;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
