.popoverPanel {
  z-index: var(--z-index-modal);
  max-width: 360px;
  max-height: 360px;
  padding: 8px;
  overflow-y: auto;
  background: var(--bg-color);
  border: 1px solid var(--blue-light-color);
  border-radius: var(--border-radius-l);
}
