:root {
  // font
  --font-family-main: consolas, "Roboto", sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // size
  --navbar-height: 60px;
  --sidebar-width: 200px;
  --sidebar-collapsed-width: 80px;
  --icon-size-l: 45px;
  --icon-size-m: 30px;

  // colors
  --bg-dark: #1a1a1a;
  --bg-light: #fff;
  --font-color-light: #fff;
  --font-color-dark: #1a1a1a;
  --bg-blue: #0384d3;
  --bg-blue-light: #65bff6;
  --overlay-color: rgba(0, 0, 0, 0.6);

  // z-indexes
  --z-index-modal: 5;
}
