.link {
  width: 100%;
  margin: 0 4px 20px;
  font-size: var(--font-size-l);
  color: var(--font-color-invert);
  transition: var(--transition);
}

.link:hover,
.link:focus {
  opacity: var(--opacity);
}

.link_icon {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
}

.link_container {
  display: flex;
  width: 100%;
}

.link__label {
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-size: var(--font-size-l);
}

.appLink {
  text-decoration: none;
}
