.modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  pointer-events: none;
  opacity: 0;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
}

.content {
  max-width: 60%;
  padding: 20px;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius-l);
}

.opened {
  pointer-events: auto;
  opacity: 1;
}
