.button {
  cursor: pointer;
}

.clear {
  padding: 0;
  color: var(--primary-color);
  background: none;
  border: none;
  outline: none;
}

.outline {
  padding: 14px;
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

