.button {
  padding: 8px 12px;
  cursor: pointer;
}

.clear {
  padding: 0;
  color: var(--primary-color);
  background: none;
  border: none;
  outline: none;
}

.outline {
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-m);
}

.fill {
  color: var(--font-color);
  background: var(--secondary-color);
  border-radius: var(--border-radius-m);
}

