.button {
  padding: 8px 12px;
  cursor: pointer;
  transition: var(--transition);

  &:hover,
  &:focus {
    opacity: var(--opacity-hover);

  }

  &:active {
    opacity: var(--opacity-active);
  }
}

.no_hover_active {
  &:hover ,
  &:focus ,
  &:active {
    opacity: 1;
  }
}

.clear {
  padding: 0;
  color: var(--primary-color);
  background: none;
  border: none;
  outline: none;
}

.outline {
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-m);
}

.fill {
  color: var(--font-color);
  background: var(--secondary-color);
  border-radius: var(--border-radius-m);
}

