.sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--bg-color-invert);
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.button_wrap {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.button_toggle {
  width: 45px;
  height: 45px;
  transition: 0.5s;
  transform: rotate(180deg);
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  & .button_toggle {
    transform: rotate(0deg);
  }
}
