.sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding-left: 12px;
  background: var(--bg-color-invert);
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}

.burgerMenuButton {
  margin-bottom: 24px;
}
