.app-dark-theme {
  --bg-color: var(--dark-color);
  --bg-color-secondary: var(--gray-dark-color);
  --font-color: var(--light-color);
  --font-color-invert: var(--dark-color);
  --primary-color: var(--blue-light-color);
  --secondary-color: var(--blue-color);
  --skeleton-shadow: var(--gray-color);
  --skeleton-color: var(--gray-color);
}
