.app-light-theme {
  --bg-color: var(--light-color);
  --bg-color-secondary: var(--gray-color);
  --font-color: var(--dark-color);
  --font-color-invert: var(--light-color);
  --primary-color: var(--blue-color);
  --secondary-color: var(--blue-light-color);
}

