.light .app {
  --bg-color: var(--bg-light);
  --bg-color-invert: var(--bg-dark);
  --font-color: var(--font-color-dark);
  --font-color-invert: var(--font-color-light);
  --primary-color: var(--bg-blue);
  --secondary-color: var(--bg-blue-light);
}

