.app.light {
  --bg-color: var(--bg-light);
  --inverted-bg-color: var(--bg-dark);
  --primary-color: var(--font-color-dark);
  --inverted-primaty-color: var(--font-color-light);
  --secondary-color: var(--bg-brown);
  --inverted-secondary-colot: var(--bg-yellow);
}
