.commentItem {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid var(--bg-color-secondary);
}

.header {
  display: flex;
}

.avatar {
  margin-right: 12px;
}

.skeletonHeader {
  margin-bottom: 12px;
}
