.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background: var(--bg-color-invert);
}

.link {
  margin: 0 4px;
  font-size: var(--font-size-l);
  color: var(--font-color-invert);
}
