.notificationList {
  padding: 12px;
  border: 1px solid var(--blue-light-color);
  border-radius: var(--border-radius-l);
}

.notificationItem {
  margin-bottom: 8px;
  border-bottom: 1px solid var(--blue-light-color);
}
