.profilePage {
  padding: 24px 24px 12px;
  border: 1px solid var(--primary-color);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.input {
  margin-bottom: 16px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
