.icon {
  fill: var(--font-color);
}

.container {
  display: flex;
}

.iconWrapper {
  padding-top: 1px;
  margin-right: 12px;
}

.text {
  margin-bottom: 8px;
}

.skeleton {
  margin-bottom: 32px;
}
