.appLink {
  &:hover,
  &:focus {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }

  transition: var(--transition);
}

.primary {
  color: var(--blue-color)
}

.inverted {
  color: var(--blue-light-color);
}
