.appLink {
  color: var(--font-color);

  &:hover,
  &:focus {
    opacity: var(--opacity-hover);
  }

  &:active {
    opacity: var(--opacity-active);
  }

  transition: var(--transition);
}

.primary {
  color: var(--font-color);
}

.inverted {
  color: var(--font-color);
}
